
* { box-sizing: border-box }

html, body { height: 100% }

body, ul { margin: 0; padding: 0 }

ul { list-style: none }

textarea { resize: none }

#header {
  height: 140px;
  display: grid;

/*
  grid-template-columns: 1fr 4fr 5fr 1fr;
  grid-template-rows: 4fr 3fr 2fr;
  grid-template-areas:
    "btns4marked  searchpad   nav   btns4all"
    "btns4marked  searchpad  langs  btns4all"
    "btns4marked    labels   langs  btns4all";
*/

  grid-template:  "btns4marked  searchpad   nav   btns4all"  4fr
                  "btns4marked  searchpad  langs  btns4all"  3fr
                  "btns4marked    labels   langs  btns4all"  2fr
                  /     1fr         4fr     5fr     1fr        ;

background: orange;
}

#h-btns4marked {
  grid-area: btns4marked;
background: red;
}

#h-searchpad {
  grid-area: searchpad;
background: blue;
}

#h-nav {
  grid-area: nav;
background: yellow;
}

#h-langs {
  grid-area: langs;
background: green;
}

#h-labels {
  grid-area: labels;
background: cyan;
}

#h-btns4all {
  grid-area: btns4all;
background: teal;
}

#main {
  max-height: calc(100% - 140px);
  overflow-y: auto;
}

#line-list {
  overflow-y: auto;
}

.line-item {
  display: grid;
  height: 200px;
  grid-template:  "lineattrs  lang1  linebtns  lang2"  1fr
                   "linetags  lang1  linebtns  lang2"  1fr
                   /  18fr     9fr     1fr      9fr      ;
}

.line-attrs {
  grid-area: lineattrs;
background: teal;
}

.line-tags {
  grid-area: linetags;
background: green;
}

.line-lang1 {
  grid-area: lang1;
background: yellow;
}

.line-lang2 {
  grid-area: lang2;
background: red;
}

.line-opers {
  grid-area: linebtns;
background: cyan;
}
