.table-grid {
  display: grid;
  grid-template-rows: 32px minmax(30px, max-content) 32px;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center;
/*   align-content: end; */
}
.top-headers, .bottom-headers { padding-right: 6px }
.data-rows, .top-headers, .bottom-headers { display: flex; justify-content: flex-end }
.data-rows { overflow-y: scroll }
table.my-table { border-collapse: collapse }
.my-table td, .my-table th {
  border: 1px solid black;
  padding: 0 3px;
  white-space: nowrap;
}
.top-headers td, .data-rows th, .bottom-headers td {
  padding: 0 3px;
  line-height: 0;
  border-bottom: 0;   border-top: 0;
  visibility: hidden;
}
.top-headers th, .bottom-headers th { background: lightgrey }
.data-rows tr:last-child td { border-bottom: 0 }
.data-rows tr:nth-child(2) td { border-top: 0 }
.data-rows::-webkit-scrollbar, .table-grid::-webkit-scrollbar
  { width: 6px; height: 6px }
.data-rows::-webkit-scrollbar-thumb, .table-grid::-webkit-scrollbar-thumb
  { background: black }
